
body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
  font-size: 18px;
}
#brand{
  color: black;
  font-weight: 700;
}
#nav{
  color: hsl(233, 26%, 24%);
  font-weight: 500;
}

.image{
  background-image: url('images/bg-intro-mobile.svg');
}

.next{
  color: hsl(233, 26%, 24%);
  margin-top: 3em;
}

#next{
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  margin-top: 1em;
}

#first{
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 13px;
}

#link{
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 10px;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
}

.links{
  margin-left: 4em;
}

#row{
  background-color: hsl(0, 0%, 98%);
  padding-bottom: 3em;
}

.section{
  background-color: hsl(220, 16%, 96%);
  color: hsl(233, 26%, 24%);
}

#why{
  margin-top: 2em;
  text-align: center;
  font-size: 30px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
}

.why{
 color: hsl(233, 8%, 62%);
 text-align: center;
 font-size: 15px;
 font-family: 'Public Sans', sans-serif;
 font-weight: 300;
}

#second{
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  margin-top: 1em;
}

.second {
  color: hsl(233, 8%, 62%);
  font-size: 13px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
}

#img{
  margin-left: 5.5em;
  margin-top: 1em;
}

.latest{
  margin-top: 3em;
  font-family: 'Public Sans', sans-serif;
font-weight: 700;
}

.main{
  background-color: hsl(0, 0%, 98%);
  color: hsl(233, 26%, 24%);
}

#card{
  margin-left: 20px;
}

.card{
  background-color: hsl(0, 0%, 100%);
  
  margin-top: 1em;
  padding: 0;
  border-radius: 10px;
}

.card img{
  border-radius: 10px 10px 0px 0px;
}

.card h6{
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  margin-top: 10px;
  text-align: left;
  margin-left: 1.1em;
  font-size: 15px;
}

.card p{
  text-align: left;
  font-size: 11px;
  margin-left: 1.5em;
  color: hsl(233, 8%, 62%);
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
}

.p{
  margin-top: 4em;
  margin-bottom: -5px;
}

.footer{
  background-color: hsl(233, 26%, 24%);
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo{
  background-color: hsl(0, 0%, 100%);
}

.footer ul{
  margin-top: 1em;
}

.footer ul li a{
  color: hsl(0, 0%, 100%);
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 10px;
}

.footer p{
  margin-top: 1em;
  color: hsl(220, 16%, 96%);
  font-size: 10px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
}

.link{
  margin-top: 4em;
}

.collapse{
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
} 

@media screen and (min-width: 700px){
.collapse{
  background-color: white;
   }
}
